.hero{
    background-color: rgb(22, 17, 17);
    border: black solid 1px;
    box-shadow: 3px;
    border-radius: 5px;
    min-height: 90vh;
    margin-top: 5px;
}
nav{
    color: white!important;
    background-color: #151a11;
}
body{
    background-color: black;
}
